<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tgsbesar.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".menu_rawatInap.tampilRawatInap"></activity>
        <activity android:name=".menu_laboratorium.tampilLaboratorium" /> <!-- Home -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Hapus Intent filter MainActivity -->
        </activity>
        <activity android:name=".profile.cameraActivity" />
        <activity android:name=".navigation.lokasiRS" /> <!-- Menu Rawat Inap -->
        <activity android:name=".menu_rawatInap.daftarRawatInap" />
        <activity android:name=".menu_rawatInap.daftarRawatInapNext" /> <!-- Menu Rawat Jalan -->
        <activity android:name=".menu_rawatJalan.rawatJalan" />
        <activity android:name=".menu_rawatJalan.Tampil_Dokter" />
        <activity android:name=".menu_rawatJalan.tampilRawatJalan" />
        <activity android:name=".menu_rawatJalan.Input" /> <!-- Menu Lab -->
        <activity android:name=".menu_laboratorium.laboratoriumNextActivity" />
        <activity android:name=".menu_laboratorium.recyclerViewLaboratorium" />
        <activity android:name=".menu_laboratorium.laboratoriumActivity" /> <!-- Splash screen -->
        <activity
            android:name=".splashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>